name: CI workflow

on:
  push:
    branches:
      - main
      - features/*
  pull_request:

jobs:
  lint:
    name: Terraform Linting
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ${{ github.workspace }}/env

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.8.0

      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v6
        with:
          tflint_version: v0.52.0

      - name: Init TFLint
        run: tflint --init

      - name: Run TFLint
        run: tflint -f compact

      - name: Run TFLint
        run: tflint --format=checkstyle > tflint-report.xml

      - name: Upload Report
        uses: actions/upload-artifact@v4
        with:
          name: tflint-report
          path: tflint-report.html