name: CI workflow

on:
  # push:
  #   branches: [ main ]

  # pull_request:
  #   branches: [ main ]



  push:
    branches:
      - main
       - features/*

  # push:
  #   branches-ignore:
  #     - 'main'
  #     - 'releases/**-alpha'

      
  pull_request:
    # Sequence of patterns matched against refs/heads
    branches-ignore:
      - 'mona/octocat'
      - 'releases/**-alpha'

# env:
#   workdir: ${{ github.workspace }}/env/dev

jobs:
  Linting:
    name: 'Terraform Linting'
    
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.8.0

      - uses: terraform-linters/setup-tflint@v6
        name: Setup TFLint
        with:
          tflint_version: v0.52.0
          cache: true

      - name: Show version
        run: tflint --version

      - name: Init TFLint
        run: tflint --init

      - name: Run TFLint
        run: tflint -f compact
